[MESSAGES CONTROL]

disable=
    too-few-public-methods,
    duplicate-code,
    too-many-arguments,
    too-many-positional-arguments,
    unused-argument,
    fixme,
    too-many-public-methods,
    ;no-member is already tested via mypy which is more intelligent as it
    ;detects __get__ and __set__ in gobject properties
    no-member
